@model RPGManager.Domain.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartingLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
